.posts {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px;

  .write {
    background: linear-gradient(326.9deg, #13132b 5.79%, #135e87 283.21%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 100px;
    padding: 20px;

    .items {
      color: white;
      display: flex;
    }

    input {
      flex: 5;
      padding: 10px;
      width: 50%;
      height: 50%;
      border: none;
      background-color: transparent;
      color: white;
      background-color: black;
      border-radius: 10px;
    }

    button {
      border: none;
      background: linear-gradient(326.9deg, #393984 5.79%, #135e87 283.21%);
      color: white;
      padding: 10px;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        background-image: linear-gradient(
          to right,
          #25aae1,
          #40e495,
          #30dd8a,
          #2bb673
        );
        box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
      }
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
