.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  background: linear-gradient(326.9deg, #13132b 5.79%, #3c9ed2 283.21%);
  position: sticky;
  top: 0;
  z-index: 999;
  .left {
    display: flex;
    align-items: center;

    span {
      padding-right: 10px;
      font-weight: bold;
      font-size: 20px;
      color: white;
    }

    .search {
      color: white;
      border-radius: 14px;
      display: flex;
      margin: auto;
      align-items: center;
      gap: 10px;
      border: 1px solid lightblue;
      padding: 5px;

      input {
        width: 500px;
        border: none;
        background: none;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    .user {
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
